/*Index changes
*/

#header {
    background-color: midnightblue;
    padding: 40px;
    text-align: center;
    color: mediumorchid;
}

#bg {
    background-image: url(images-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}

#navb {
    background-color: midnightblue;
    padding-left: 30%;
    padding-right: 30%;
}

#link {
    padding-right: 10%;
}
a:hover{
    background-color: yellow;
}

.scenery {
    display: inline;
    width: 33%;
    height: 30%;
}

/* Main content changes*/
.list{
    float: left;
    width: 30%;
}
.info:after{
    content:"";
    display: table;
    clear: both;
}