/*Index changes
*/
#header {
  background-color: midnightblue;
  padding: 40px;
  text-align: center;
  color: mediumorchid;
}

#bg {
  background-image: url(images-6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350% 350%;
}


#navb {
  background-color: royalblue;
  padding: 5%;
  flex-direction:row-reverse;
  flex-wrap: nowrap;
  
}
.div{
  width: 300;
  high
}


