/*Index changes*/

* {
    margin: 1px;
    padding: 0;
    border: 0;
}

.header {
    background-color: #de1761;
    padding: 40px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.footer {
    background-color: #de1761;
    color:lightseagreen ;
    position: relative;
    margin-top: 50px;
    width: 100%;
    top: 110px;
    float: left;
}

.futer p,h2{
    color: black;
    text-align: center;
}

.header2 {
    text-align: center;
    color: black;
    padding: 20px;
}

.bg {
    background-image: linear-gradient(180deg, #de1761, lightsalmon);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightsalmon;
}

#navb {
    background-color: lightcoral;
    padding-left: 25%;
    padding-right: 18%;
}

.link {
    padding-right: 50px;
}

a:hover {
    background-color: #ff0095;
}


/* relevant styles */

.content {
    float: left;
    display: flex;
    clear: both;
}

.card {
    width: 50%;
    margin: 20px auto;
    border: 3px solid rgba(0, 0, 0, .125);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    opacity: 0.7;
    transition: all 0.5s linear;
    margin-left: 10px;
    margin-right: 6px;
}


.card:hover {
    opacity: 1;
}

.card h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
}

.card img {
    width: 100%;
}

.card p {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 23px;
    color: black;
    transition: all 0.5s linear;
}

.card:hover p {
    color: black;
}

.card .button {
    position: absolute;
    width: 100%;
    text-align: center;
}

.card .button button {
    font-size: 16px;
    border-radius: 10px;
    background: #de1761;
    color: white;
    padding: 5px;
    border: 2px solid #de1761;
    outline: 0;
}

.abt {
    position: absolute;
}


/* Main content changes*/

.list {
    float: left;
    padding-right: 15px;
    width: 25%;
    height: 323px;
}

.info:after {
    content: "";
    display: table;
    clear: both;
}

.books {
    color:black;
}

p,
ol {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
}
/*contact us styling*/

body { background:rgb(30,30,40); }
.contact{
    color: white;
}

.user-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:30%;
  box-sizing: border-box;
  outline:0;
}

.user-input:focus { border:2px solid #de1761; }


.submit {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 30%;
  background:black;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.submit:hover { 
    background: #de1761; 
}

/*About Us*/


.abtus{
    padding-left: 200px;
    padding-right: 275px;
}
.banner {
    width: 70%;
    padding-left: 12%;
}

.sky {
    width: 70%;
}

/*FAQ*/

.faq{
    padding-left: 200px;
    padding-right: 200px;
}


/* Mobile styling */

@media only screen and (max-width: 425px) {
    .content {
        display: block;
        float: none;
    }
    .sky {
        width: 300px;
        padding-left: 56px;
    }
    .info {
        display: block;
    }
    .para p {
        position: inline;
    }
    #navb {
        padding-left: 1px;
        padding-right: 1px;
    }
    .link {
        padding-inline-start: 3px;
    }
    .card{
        padding-top: 2px;
        margin-bottom: 22px;
    }
    .list{
        width: 40%;
    }
    .abtus{
        padding: 0px;
    }
    .banner{
        padding: 0px;
    }
    .banner2{
        padding: 0px;
    }
    .faq{
        padding: 0px;
    }
    form {
        margin:50px auto
    }
    .user-input{
        width: 100%;
    }
    
}

@media only screen and (max-width: 375px) {
    .sky {
        padding-left: 37px;
    }
    .abtus{
        padding: 0px;
    }
    .faq{
        padding: 0px;
    }
}